# Hugging Face
HF_CACHE_DIR=./cache/huggingface
# -------------------------------------------------------------------------------------------------------
# ONNX Export
ONNX_OUTPUT_DIR=./cache/onnx
# -------------------------------------------------------------------------------------------------------
# MLflow
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
# -------------------------------------------------------------------------------------------------------
