# Hugging Face
HF_MODEL_ID=dslim/distilbert-NER
HF_CACHE_DIR=./cache/huggingface
# -------------------------------------------------------------------------------------------------------
# ONNX Export
ONNX_OUTPUT_DIR=./cache/onnx
ONNX_OPSET_VERSION=18
# -------------------------------------------------------------------------------------------------------
# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=
MLFLOW_EXPERIMENT_NAME="Named Entity Recognition"
MLFLOW_RUN_NAME=distilbert-int8-onnx
MLFLOW_REGISTRY_MODEL_NAME=distilbert-ner
MLFLOW_REGISTRY_MODEL_DESCRIPTION="DistilBERT NER model exported to ONNX format"
# -------------------------------------------------------------------------------------------------------
